/*=====================================
                Fonts
=======================================*/

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins-Semibold';
    src: url('fonts/Poppins-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.ttf') format('ttf');
}


/*=====================================
                Colors
=======================================*/

:root {
    --white: #ffffff;
    --black: #000000;
    --creole: #383027;
    --grey: #d3d3d3;
    --light-grey: #3830270d;
    --light-grey-1: #f9f9f9;
    --sea-green: #319647;
}

.header {
    margin-bottom: -35px;
}

.brand-title {
    background: var(--white);
}

.about-us {
    background-image: url(../images/about/meeee.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-wrapper {
    display: flex;
}

.about-us-empty {
    flex: 0 0 62%;
    max-width: 62%;
}

.about-us-info {
    flex: 0 0 33.46%;
    max-width: 33.46%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: var(--white);
}

.about-us-info h1 {
    font-family: 'Poppins-SemiBold';
    margin-bottom: 10px;
    font-size: 30px;
}

.about-us-info p {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 1.56;
}

.about-us-responsive {
    display: none;
}

.fa-times {
    position: relative;
    top: 0;
}