/*=====================================
           About Responsive CSS
=======================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    .container {
        max-width: 1175.6px;
        padding: 68px 55px 22px 55px;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    .about-us-empty {
        flex: 0 0 58%;
        max-width: 58%;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    .about-us {
        display: none;
    }
    .about-us-responsive {
        display: block;
        margin-top: 50px;
    }
    .about-us-responsive .container {
        /* padding: 0; */
    }
    .about-us-info-responsive {
        margin-top: 50px;
    }
    .about-us-info-responsive h1 {
        font-size: 45px;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phone) */

@media(min-width: 360px) and (max-width: 767px) {
    .about-us {
        display: none;
    }
    .about-us-responsive {
        display: block;
        margin-top: 50px;
    }
    .about-us-info-responsive {
        margin-top: 50px;
    }
    .about-us-info-responsive h1 {
        font-size: 45px;
    }
    .navbar-links ul li:last-child {
        font-size: 28px;
    }
    .navbar-links ul li:last-child img {
        position: relative;
        top: 12px;
        transform: Scale(2, 2);
    }
}