/*=====================================
        Meal Kit Responsive CSS
=======================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 68px 55px 22px 55px;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    .meal-kit-info::before {
        content: "";
        position: absolute;
        height: 772px;
        width: 1082px;
        top: -53%;
        background-image: url(../images/home-page/Path-633.svg);
        z-index: -6;
        left: -108%;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    .meal-kit-banner {
        display: none;
    }
    .navbar-nav .navbar-links ul li:last-child a {
        display: block;
        margin-bottom: 25px;
    }
    .meal-kit-info-section {
        padding: 80px 0 15px 0;
    }
    .meal-kit-image {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .meal-kit-info::before {
        top: -35%;
        left: -167%;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phone) */

@media(min-width: 360px) and (max-width: 767px) {
    .navbar-nav .navbar-links ul li:last-child a {
        display: block;
        margin-bottom: 25px;
    }
    .meal-kit-banner {
        display: none;
    }
    .meal-kit-wrapper {
        display: flex;
        flex-direction: column;
    }
    .meal-kit-image {
        flex: 0 0 100%;
        max-width: 100%;
        order: 0;
        margin-top: 41.1px;
        margin-bottom: 35.06px;
    }
    .meal-kit-info {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .meal-kit-info::before {
        top: 3%;
    }
}