/*=====================================
        Private Chef Responsive CSS
=======================================*/

@media (max-width: 1200px) {
    .container {
        max-width: 1175.6px;
        padding: 0 50px;
    }
    .brand-title {
        padding: 55px 20px 35px 20px;
    }
    .navbar-nav .navbar-links ul li {
        padding: 0 15px;
    }
    .home-wrapper .home-banner-image {
        flex: 0 0 53%;
        max-width: 53%;
    }
    .home-banner-image .leaf {
        left: 80px;
    }
    label[for="description"] textarea {
        width: 76%;
    }
    .footer-main {
        padding: 50px 30px !important;
    }
    .contact-us-wrapper {
        justify-content: space-between;
    }
    .contact-us-form {
        flex: 0 0 55.65%;
        max-width: 55.65%;
    }
}

@media(max-width: 1160px) {
    .contact-us-form input {
        width: 70%;
    }
    label[for="description"] textarea {
        width: 72%;
    }
}

@media(max-width: 1117px) {
    .navbar-nav .navbar-links ul li {
        padding: 0 10px;
    }
}

@media(max-width: 1057px) {
    .navbar-nav .navbar-links ul li {
        padding: 4px;
    }
}

@media(max-width: 989px) {
    .header {
        box-shadow: 0px 3px 6px #00000040;
    }
    .navbar-links ul li:last-child {
        display: block;
        margin-bottom: 25px;
        font-size: 28px;
    }
    .brand-title {
        box-shadow: none;
        padding: 75px 20px 35px 20px;
    }
    label[for="description"] {
        left: 2px;
    }
    .contact-us-form input {
        width: 60%;
    }
    .contact-us-form .description {
        width: 64%;
    }
}

@media (max-width: 767px) {
    .navbar-nav .navbar-links ul li:last-child a {
        display: block;
        margin-bottom: 25px;
    }
    .private-chef-banner {
        display: none;
    }
    .private-chef-wrapper {
        display: flex;
        flex-direction: column;
    }
    .private-chef-image {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 25px;
    }
    .private-chef-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .private-chef-info::after {
        content: "";
        position: absolute;
        background-image: url(../images/home-page/Path-633.svg);
        width: 770px;
        height: 790px;
        bottom: -67%;
        right: -46%;
        z-index: -6;
        left: 10%;
        transform: scale(0.7);
    }
}

@media(max-width: 738px) {
    .contact-us-form {
        flex: 0 0 53.65%;
        max-width: 53.65%;
    }
    .contact-us-form .description {
        width: 58%;
    }
    .contact-us-form input {
        width: 55%;
    }
}

@media(max-width: 700px) {
    .private-chef-info::after {
        bottom: -54%;
    }
}

@media(max-width: 600px) {
    .private-chef-info::after {
        bottom: -37%;
    }
}

@media(max-width: 546px) {
    .private-chef-info::after {
        bottom: -28%;
        left: -13%;
    }
}

@media(max-width: 460px) {
    .private-chef-image {
        margin-top: 45px;
    }
    .private-chef-info::after {
        bottom: -15%;
        left: -35%;
    }
}

@media(max-width: 410px) {
    .appointment-section span,
    .appointment-section p,
    .appointment-section h5 {
        top: -25px;
        margin-left: 22px;
    }
}

@media(max-width: 390px) {
    .private-chef-info h2 {
        line-height: 1.2;
    }
}

@media(max-width: 370px) {
    .appointment-section span,
    .appointment-section p,
    .appointment-section h5 {
        top: 0px;
        margin-left: 6px;
    }
}