/*=====================================
   Sleigh Ride Dinner Responsive CSS
=======================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    .container {
        max-width: 1175.6px;
        padding: 68px 55px 22px 55px;
    }
    .sleigh-ride-dinners-info::after {
        bottom: -252%;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    .sleigh-ride-dinners-info::after {
        bottom: -219%;
        left: 21%;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    .sleigh-ride-dinners-banner {
        display: none;
    }
    .sleigh-ride-dinners-info::after {
        bottom: -209%;
        left: 6%;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phone) */

@media(min-width: 360px) and (max-width: 767px) {
    .navbar-nav .navbar-links ul li:last-child a {
        display: block;
        margin-bottom: 25px;
    }
    .sleigh-ride-dinners-banner {
        display: none;
    }
    .sleigh-ride-dinners-wrapper {
        flex-direction: column;
    }
    .sleigh-ride-dinners-image {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .sleigh-ride-dinners-info {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
    }
    .sleigh-ride-dinners-info h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .sleigh-ride-dinners-info::after {
        bottom: -122% !important;
        left: 18%;
    }
}