/* ============================
         Default Theme:
    -----------------------------------
    Fonts: 
        Main Font:       Poppins
        Fallback Font:   Sans Serif
    -----------------------------------
    Colors:
        White: #FFFFFF
        Black: #000000
        Creole: #383027
        Grey: #D3D3D3
        Light Grey: #3830270d
        Light Grey 1 : #f9f9f9
        Sea Green: #319647
============================ */


/*=====================================
                Colors
=======================================*/

 :root {
    --white: #ffffff;
    --black: #000000;
    --creole: #383027;
    --grey: #d3d3d3;
    --light-grey: #3830270d;
    --light-grey-1: #f9f9f9;
    --sea-green: #319647;
}


/*=====================================
                Fonts
=======================================*/

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/poppins-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Semibold';
    src: url('fonts/poppins-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/poppins-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/poppins-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/poppins-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=====================================
                CSS Reset
=======================================*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}


/*=====================================
              HTML, Body
=======================================*/

html {
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--sea-green);
}

li {
    list-style: none;
}

section {
    padding: 50px 0;
}

.fa-times {
    position: relative;
    top: -70px;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}


/*=====================================
            Utilities Classes
=======================================*/

.container {
    max-width: 1175.6px;
    margin: 0 auto;
    padding: 0 50px;
}

.btn {
    padding: 9px 20px;
    background: #383027;
    color: #fff;
    border-radius: 10px;
}

.highlighted {
    color: var(--sea-green) !important;
}

.btn:hover {
    color: var(--white);
    background: var(--sea-green);
}


/*=====================================
            Pre-Loader
=======================================*/

#preloader {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../images/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 180px;
    height: 165px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -82.5px;
}


/*=====================================
        Header Section Starts
=======================================*/

.header {
    margin-top: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -66px;
}

.navbar-nav {
    position: relative;
    top: 10px;
}

.navbar-nav .navbar-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .navbar-links ul li {
    padding: 0 22.3px;
}

.navbar-nav .navbar-links ul li:last-child a {
    color: var(--sea-green);
    font-family: 'Poppins-Medium';
}

.brand-title {
    padding: 55px 30.47px 35px 28px;
    box-shadow: 0px 0px 6px var(--grey);
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    opacity: 1;
}

.home {
    padding-bottom: 0 !important;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-wrapper .home-banner-info h1 {
    font-family: 'Poppins-Semibold';
    font-size: 45px;
    line-height: 1.33;
    margin-bottom: 16px;
}

.home-wrapper .home-banner-info {
    flex: 0 0 43.22%;
    max-width: 43.22%;
    position: relative;
}

.home-wrapper .home-banner-image {
    flex: 0 0 56.77%;
    max-width: 56.77%;
    position: relative;
}

.home-banner-image .leaf {
    position: absolute;
    left: 100px;
    bottom: 60px;
}

.home-banner-info p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Poppins-Regular';
}

.home-banner-info::before {
    content: "";
    position: absolute;
    height: 530px;
    width: 610px;
    top: -79%;
    background-image: url(../images/home-page/Path-634.svg);
    z-index: -6;
    left: -55%;
}

.mobile-navigation {
    display: none;
}

.mobile-navbar-links {
    display: none;
}


/* Mobile Navigation */

.mobile-nav-wrapper {
    text-align: center;
    display: flex;
}

.mobile-navbar-links .mobile-nav {
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    left: 0;
    background: white;
}

.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--white);
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.showNav {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.nav-close {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--frenchRose);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.nav-link {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: normal;
    color: var(--grayOne);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.navbar-header {
    text-align: end;
}

.mobile-nav-items {
    text-align: center;
    position: relative;
}

.mobile-nav-items::before {
    content: "";
    position: absolute;
    background: url(../images/home-page/Path\ 1243.svg) no-repeat center/cover;
    width: 691px;
    height: 568px;
    bottom: -40%;
    right: -42%;
    z-index: -6;
    left: 3%;
    opacity: 0.5;
}


/* *********************************** */


/*=====================================
        About Section Starts
=======================================*/

.about {
    padding-bottom: 0;
    overflow: hidden;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    flex: 0 0 58.05%;
    max-width: 58.05%;
}

.about-info {
    flex: 0 0 41.94%;
    max-width: 41.94%;
    position: relative;
}

.about-info h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    margin-bottom: 10px;
}

.about-info p {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.56;
}

.about-info::after {
    content: "";
    position: absolute;
    background-image: url(../images/home-page/Path-633.svg);
    width: 680px;
    height: 795px;
    bottom: -21%;
    right: -46%;
    z-index: -6;
}


/*=====================================
        Services Section Starts
=======================================*/

.services-logo,
.testimonials-logo {
    text-align: center;
}

.services-logo img,
.testimonials-logo img {
    margin-bottom: 45px;
}

.services-logo h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    margin-bottom: 100px;
}

.service-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.service-one {
    position: relative;
}

.service-one-info img,
.service-two-info img,
.service-three-info img {
    margin-bottom: 70px;
}

.service-two-info h3 {
    margin-top: 25px;
}

.service-three-info h3 {
    margin-top: 15px;
}

.service-one-info::before {
    content: "";
    position: absolute;
    background: url(../images/home-page/Path\ 608.svg) no-repeat center/cover;
    width: 288px;
    height: 224px;
    bottom: 53%;
    right: -35%;
    z-index: -6;
    left: 8%;
}

.service-two-info::before {
    content: "";
    position: absolute;
    background: url(../images/home-page/Path\ 609.svg) no-repeat center/cover;
    width: 276px;
    height: 220px;
    bottom: 53%;
    right: -35%;
    z-index: -6;
    left: 37%;
}

.service-three-info::before {
    content: "";
    position: absolute;
    background: url(../images/home-page/Path\ 610.svg) no-repeat center/cover;
    width: 276px;
    height: 220px;
    bottom: 55%;
    right: -35%;
    z-index: -6;
    left: 70%;
}

.service-one p,
.service-two p,
.service-three p {
    margin-bottom: 30px;
    font-family: 'Poppins-Light';
    line-height: 25px;
    font-size: 16px;
}

.service-one-info h3,
.service-two-info h3,
.service-three-info h3 {
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    margin-bottom: 7px;
}

.service-one {
    flex: 0 0 32.74%;
    max-width: 32.74%;
}

.service-two {
    flex: 0 0 31.81%;
    max-width: 32.74%;
}

.service-three {
    flex: 0 0 31.30%;
    max-width: 31.30%;
}


/*=====================================
        Testimonials Section Starts
=======================================*/

.testimonial {
    position: relative;
    padding: 60px 0;
    margin-bottom: 40px;
}

.testimonials {
    text-align: center;
    padding: 0 200px;
}

.testimonial-wrapper {
    position: relative;
}

.testimonials-logo h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    margin-bottom: 56px;
}

.testimonials h4,
.testimonials .testimonial-message {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.25;
}

.testimonial p {
    font-family: 'Poppins-Light';
    font-size: 16px;
}

.owl-prev img {
    position: relative;
    left: -33rem;
    top: -2rem;
}

.owl-next img {
    position: relative;
    right: -33rem;
    top: -2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none !important;
}

.testimonial-wrapper::before {
    content: "";
    position: absolute;
    background: url(../images/home-page/Path\ 1243.svg) no-repeat center/cover;
    width: 955px;
    height: 744px;
    bottom: -33%;
    z-index: -6;
    left: 12%;
}


/*=====================================
        Contact Us Section Starts
=======================================*/

.contact {
    background-color: var(--light-grey);
}

.contact-us-wrapper {
    display: flex;
}

.contact-us-info {
    flex: 0 0 37.34%;
    max-width: 37.34%;
}

.contact-us-info h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 33px;
}

.contact-us-info div,
.contact-us-info h2 {
    margin-bottom: 28px;
}

.contact-us-form {
    flex: 0 0 62.65%;
    max-width: 62.65%;
}

.contact-us-form input {
    border: 1px solid var(--white);
    height: 40px;
    border-radius: 10px;
    padding: 7px 15px;
    width: 75%;
    margin-bottom: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
    outline: none !important;
    border: 1px solid blue;
}

.contact-us-form textarea {
    resize: none;
    border: 1px solid var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-us-form .name {
    position: relative;
    right: -35px;
}

.contact-us-form .email {
    position: relative;
    right: -13px;
}

.contact-us-form .phone {
    position: relative;
    right: -78px;
}

.contact-us-form label {
    position: relative;
    top: -15px;
}

label[for="description"] textarea {
    vertical-align: baseline;
    width: 76%;
    margin-right: 25px;
    position: relative;
    right: -43px;
    top: -5%;
    margin-top: 25px;
    height: 120px;
    padding: 10px;
}

.social-networks .facebook {
    margin-left: 25px;
}

.appointment-section span {
    display: inline-block;
    margin-bottom: 25px;
}

.appointment-section p {
    margin-bottom: 25px;
    padding-right: 100px;
}

.btn-submit {
    border: none;
    position: relative;
    left: 135px;
    cursor: pointer;
}


/*=====================================
        Footer Section Starts
=======================================*/


/* .footer, */

.footer-main,
.footer-icon {
    display: flex;
}

.footer {
    background: var(--grey);
}

.footer>.container {
    flex: 1;
}

.footer-main {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0 !important;
}

.footer-icon li {
    padding: 20px 10px;
}

.location-footer li {
    padding-bottom: 15px;
}

.footer-main-item h5 {
    margin-bottom: 25px;
}

.footer-legal {
    display: flex;
    justify-content: center;
    background-color: var(--creole);
    color: var(--white);
    height: 40px;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    padding: 0 !important;
}

.footer-legal p {
    font-size: 12px;
    line-height: 1.5;
}